@font-face {
  font-family: "RoadUI";
  src: url("./RoadUI-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadUI";
  src: url("./RoadUI-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
