.dashboard-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 98%;
  color: #000000;
  margin-bottom: 40px;
}

.highcharts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1040px) {
    flex-direction: column;
  }
}
