@import "../../scss/variables";

.dashboard-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 98%;
  color: $black;
  margin-bottom: 20px;
}

.total {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: $black;
  margin-bottom: 20px;
}

.highcharts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1040px) {
    flex-direction: column;
  }
}
