@import "../../scss/variables";

.home-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;

  .title {
    max-width: 869px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 98%;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;

    @media (max-width: 720px) {
      font-size: 40px;
      line-height: 88%;
    }
  }

  .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 22px;
    margin-bottom: 40px;

    @media (max-width: 1250px) {
      justify-content: center;
    }

    @media (max-width: 950px) {
      .filters-container {
        display: none;
      }
    }

    .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      .search-container {
        align-self: flex-start;
        position: relative;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        @media (max-width: 950px) {
          align-self: center;
        }

        .filters-button {
          display: none;
          border: none;
          background: none;
          cursor: pointer;
          margin-right: 20px;

          @media (max-width: 950px) {
            display: block;

            .filters-button-text {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 10px;
              padding: 0;

              span {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                color: $black;

                @media (max-width: 720px) {
                  display: none;
                }
              }

              img {
                width: 20px;
                height: 20px;
              }
            }
          }

          @media (max-width: 720px) {
            margin-right: 10px;
          }
        }

        .search-input {
          padding: 5px 10px;
          padding-left: 30px;
          border: 1px solid $red;
          border-radius: 10px;
          transition: opacity 0.15s ease-in-out;
          opacity: 1;
          caret-color: $red;
          color: darken($color: $red, $amount: 10%);
        }

        .search {
          width: 24px;
          height: 24px;
          color: $red;
          cursor: pointer;
          position: absolute;
          top: 3px;
          right: 185px;
        }
      }

      .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 30px;
        position: relative;
        justify-items: center;

        @media (max-width: 1250px) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          column-gap: 20px;
        }

        @media (max-width: 950px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }

        @media (max-width: 720px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .no-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        text-align: center;
        margin: 0 auto;

        .no-items-image {
          width: 150px;
          margin-bottom: 20px;
        }

        .no-items-header {
          font-size: 24px;
        }
      }
    }
  }

  .content-empty {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-bottom: 40px;

    .no-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      text-align: center;
      margin: 0 auto;

      .no-items-image {
        width: 150px;
        margin-bottom: 20px;
      }

      .no-items-header {
        font-size: 24px;
      }
    }
  }

  .show-more-btn {
    border: none;
    background: none;
    width: 146px;
    height: 27px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: $black;
    margin-bottom: 128px;

    &:hover {
      color: $red;
      text-decoration: underline;
      text-decoration-color: $red;
      text-decoration-thickness: 2px;
    }
  }
}
.filters-panel-container {
  display: none;
}
@media only screen and (max-width: 950px) {
  .filters-panel-container {
    position: fixed;
    z-index: 490;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: darken($color: $background, $amount: 10%);
    transform: translateX(-100vw);

    &.filters-panel {
      padding-top: 20px;
      transform: translateX(0);
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      justify-content: flex-start;
    }

    .close-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      border: none;
      background: none;
      cursor: pointer;

      path {
        fill: $red;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
