@import "../../scss/variables";

.header {
  padding-top: 32px;
  margin-bottom: 40px;

  .logo,
  .logo-mobile {
    font-family: "Pacifico", serif;
    color: $red;
    font-weight: 400;
    font-size: 41px;
    line-height: 72px;
    height: 60px;
    width: 216px;
    cursor: pointer;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 87px;

      @media (max-width: 1024px) {
        gap: 20px;
      }

      @media (max-width: 950px) {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
      }

      .languages {
        padding-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        button {
          background: none;
          border: none;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: $red;
          opacity: 0.5;
          cursor: pointer;
          transition: opacity 0.15s ease-in-out;
        }

        .active {
          opacity: 1;
        }
      }
    }

    .header-dashboard {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 150%;
      color: $red;
      cursor: pointer;
    }

    .header-right {
      display: flex;
      flex-direction: row;
      align-items: center;

      .login {
        border: none;
        padding: 10px 20px;
        width: 146px;
        height: 47px;
        background: $red;
        border-radius: 10px;
        color: #fff;
        border: 2px solid $red;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-left: 40px;
        cursor: pointer;

        @media (max-width: 950px) {
          margin-left: 20px;
        }
      }

      .admin {
        padding: 6px 20px;
        width: 146px;
        height: 46px;
        border: none;
        background: none;
        color: $red;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
          border: 2px solid $red;
          border-radius: 10px;
        }
      }

      .hidden {
        visibility: hidden;
        width: 146px;
      }
    }
  }
}

.logo-mobile {
  display: none;
}

.close-menu,
.burger-menu {
  border: none;
  background: none;
  cursor: pointer;
  display: none;

  img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 0;
  }

  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-mobile {
      display: block;
    }

    .close-menu,
    .burger-menu {
      display: block;
      visibility: visible;
      opacity: 1;
      path {
        fill: $red;
      }
    }

    .burger-menu {
      padding-top: 20px;
    }
  }

  .header-inner {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ccc;
    transform: translateY(-100vh);

    &.responsive-header {
      transform: translateY(0);
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      justify-content: flex-start;

      .logo {
        margin-bottom: 20px;
        text-align: center;
      }

      .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
      }

      .header-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .admin {
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 150%;
          color: $red;
          cursor: pointer;

          &:hover {
            border: none;
          }
        }

        .logout,
        .login {
          margin: 0;
        }
      }

      .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .burger-menu {
        display: none;
      }
    }
  }
}
