@import "../../scss/variables";

.header {
  padding-top: 32px;
  margin-bottom: 40px;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 87px;

      .logo {
        font-family: "Pacifico", serif;
        color: $red;
        font-weight: 400;
        font-size: 41px;
        line-height: 72px;
        cursor: pointer;
      }

      .languages {
        padding-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        button {
          background: none;
          border: none;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: $red;
          opacity: 0.5;
          cursor: pointer;
          transition: opacity 0.15s ease-in-out;
        }

        .active {
          opacity: 1;
        }
      }
    }

    .header-map {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: $red;
      cursor: pointer;
    }

    .header-right {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-left: 20px;
      }

      .search-input {
        padding: 5px 10px;
        border: 1px solid $red;
        border-radius: 10px;
        transition: opacity 0.15s ease-in-out;
        opacity: 1;
        caret-color: $red;
        color: darken($color: $red, $amount: 10%);
      }

      .search-input-inactive {
        opacity: 0;
      }

      .search {
        width: 24px;
        height: 24px;
        color: $red;
        cursor: pointer;
      }

      .login,
      .admin {
        border: none;
        padding: 10px 20px;
        width: 188px;
        height: 47px;
        background: transparent;
        border-radius: 10px;
        color: $black;
        border: 2px solid $red;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-left: 20px;
        cursor: pointer;
      }

      .login {
        border: none;
        background: $red;
        color: #fff;
      }
    }
  }
}
