@import "../../scss/variables";

.admin {
  border: none;
  background: none;
  color: $red;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  border: 2px solid $red;
  border-radius: 10px;
  padding: 6px 20px;
}
