@import "../../scss/variables";

.custom-marker-cluster {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background-color: $red !important;
  border: 1px solid $light-black !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 900 !important;

  span {
    color: white !important;
  }
}
