.admin-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 98%;
  color: #000000;
  margin-bottom: 40px;
}

.admin-inner {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  gap: 129px;

  .admin-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 631px;
    flex-grow: 1;

    .inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .textfields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.upload-btn {
  border: none;
  padding: 10px 20px;
  margin: 0 auto;
  width: 413px;
  height: 47px;
  background: #9b0d00;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
}
